/******************************* MAIN CONTAINER *******************************/
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

/***************************** HEADER NAVIGATION ******************************/
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**************** SIDE NAVIGATION AND HOTEL INFO ******************************/
.content {
  display: flex;
}

/**************************** NAVIGATION SIDEBAR ******************************/
.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;  // Shorthand for flex-grow flex-shrink flex-basis

  display: flex;  // Display of the navigation & disclaimer elements
  flex-direction: column;
  justify-content: space-between;
}

/****************************** HOTEL INFORMATION *****************************/
.hotel-view {
  background-color: #fff;
  // height: 80rem;  // temporary height to test display

  flex: 1;  // allow element to grow as much as it can
}

/******************************* HOTEL DETAIL *********************************/
.detail {
  font-size: 1.4rem;
  display: flex;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  padding: 4.5rem;
}

/******************************* HOTEL DESCRIPTION ****************************/
.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  font-size: 1.4rem;
  margin-right: 4.5rem;
  padding: 3rem;
}

/********************************* HOTEL REVIEWS ******************************/
.user-reviews {
  flex: 1;      // occupy remaining container space

  display: flex;            // Display review elements
  flex-direction: column;
  align-items: center;
}
